<%- include('../partials/header') %>
<h1>Popular Movies</h1>
<div>
  <% movies.forEach(m => { %>
  <div><a href="/movies/<%= m.id %>"><%= m.title %></a></div>
  <% }) %>
</div>
<%- include('../partials/footer') %>
